<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KeyboardScroll.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>366E25C81F1B6B2A00E16115</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>366E25DC1F1B6B2A00E16115</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>366E25E71F1B6B2A00E16115</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
